header {}
nav li {
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    width: 100%;
    border-bottom: 1px solid;
}
nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
#homehero {}
#logo {}
#wrapper {}

@media (width >= 600px) {
    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding-right: 1em;
    }
    nav li {
        width: 20em;
        border: none;
    }
    #wrapper {
        margin: auto;
        width: 80%;
    }
}